[include]
    path = ~/.dotfiles/git/local.gitconfig
    path = ~/.dotfiles/git/alias.gitconfig

[core]
	excludesfile = /Users/aratani/.dotfiles/git/.gitignore_global
    editor = vim
    ignorecase = false
[user]
	name = Yuya Aratani
	email = hrgruri@gmail.com
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[commit]
	template = /Users/aratani/.stCommitMsg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
